<div class="sr-external-page-content"
     data-content-id="{CONTENT_ID}"
     data-width="{WIDTH}"
     data-height="{HEIGHT}"
     data-consent="{CONSENT}"
     data-consented="{CONSENTED}"
     data-skip-consent="{SKIP_CONSENT}"
     data-responsive="{RESPONSIVE}">

    <div class="sr-external-page-content-info">
        <button class="sr-external-page-content-loader">{BUTTON_TEXT}</button>
        <p>{INFO}</p>
    </div>
    {CONTENT}
    <!-- BEGIN script -->
    <script src="{SCRIPT}"></script>
    <!-- END script -->
</div>
