<div class="sr-external-page-content"
     data-content-id="{CONTENT_ID}"
     data-dimensions="{DIMENSIONS}"
     data-must-consent="{MUST_CONSENT}"
     data-domain="{DOMAIN}"
     data-consented="{CONSENTED}"
     data-skip-consent="{SKIP_CONSENT}"
     data-thumbnail="{THUMBNAIL}"
     data-reset="{LAST_RESET}"

     style="border-width: {BORDER_WIDTH}px;"
>

    <div class="sr-external-page-content-info">
        <button class="sr-external-page-content-loader">{BUTTON_TEXT}</button>
        <p>{INFO}</p>
    </div>
    {CONTENT}
    <!-- BEGIN script -->
    <script src="{SCRIPT}"></script>
    <!-- END script -->
</div>
